extends ./layout/index.pug
block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros").img-fluid
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, nesciunt consequuntur. Quidem iure inventore, natus dicta qui autem maxime corporis praesentium aperiam cumque. Perspiciatis, quia nulla quaerat nobis ex commodi?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aperiam explicabo reprehenderit ratione excepturi est debitis quis consectetur voluptatibus sed itaque molestias eveniet corrupti, laudantium placeat nesciunt? Voluptas, reprehenderit reiciendis.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia blanditiis itaque, asperiores sapiente dolorum nam consectetur magni? Rerum quaerat mollitia enim quos non, excepturi blanditiis illo, dolores doloribus, minima in.
    .listado-iconos 
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4  
                    img(src="img/icono_seguridad.svg", alt="icono seguridad").img-fluid.mb-4
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dolorum, iusto eius velit autem deserunt consectetur consequuntur. Explicabo, debitis vero, minima corrupti, iusto id modi est eius veritatis error possimus?
                .col-md-4  
                    img(src="img/icono_destinos.svg", alt="icono destinos").img-fluid.mb-4
                    h2.mb-4 Destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dolorum, iusto eius velit autem deserunt consectetur consequuntur. Explicabo, debitis vero, minima corrupti, iusto id modi est eius veritatis error possimus?
                .col-md-4  
                    img(src="img/icono_precios.svg", alt="icono precios").img-fluid.mb-4
                    h2.mb-4 Precios 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dolorum, iusto eius velit autem deserunt consectetur consequuntur. Explicabo, debitis vero, minima corrupti, iusto id modi est eius veritatis error possimus?